<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <section name="testConfiguration" type="ForUBS.Configuration.TestConfigurationSection, ForUBS" />

  </configSections>

  <!--<connectionStrings>
    <add name="exampleConnectionString" connectionString="typeYourConnectionStringHere" />
  </connectionStrings>-->

  <!--<testData>
        <testDataCollection>
            <testData id="Default" username="exampleUserName" password="examplePassword" firstName="exampleFirstName" surname="exampleSurname" dateOfBirth="exampleDoB" />
        </testDataCollection>
    </testData>-->

  <testConfiguration browser="Chrome" waitTimeout="10" screenshotDirectory="directoryToYourScreenshotCatalog">
  </testConfiguration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>